.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0.2rem 0.2rem;
  margin: 0.5rem 0;
  transition: all 1s ease;
  text-align: center;
}

.input:focus {
  border-bottom: 1px solid white;
  padding: 0.5rem 0.5rem;
  background-color: #ffffff1c
}
